* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #036060;
  }
  .container {
    background-color: #e4f7f5;
    width: 60vw;
    max-width: 25.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  }
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
   
  }
  .search-wrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
  }
  .search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
  #result {
    margin-top: 80px;
  }
  .container .flag-img {
    display: block;
    width: 34%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
  }
  .container h2 {
    font-weight: 600;
    color: #101011;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.1em;
    margin-bottom: 1.8em;
  }
  .data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
  }
  .container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
    font-size: 1.2em;
  }
  .container span {
    color: #0b0d14;
  }
  .container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
  }

  @media (max-width: 768px) {
    .search-wrapper button {
      font-size: 0.8em;
      padding: 0.6em 0;
    }
  }

  @media (max-width: 768px) {
    /* Adjustments for screens smaller than 768px */
  
    .container {
      width: 80vw;
      padding: 2em 1.5em;
    }
  
    .container .flag-img {
      width: 50%;
    }
  
    .container h2 {
      font-size: 1.8em;
    }
  
    .container h4 {
      font-size: 1em;
    }
  
    .container h3 {
      font-size: 1em;
    }
  
    .search-wrapper {
      grid-template-columns: 8fr 2fr;
      gap: 1em;
    }
  }
  
  @media (max-width: 576px) {
    /* Adjustments for screens smaller than 576px */
    .navbar-toggler-icon {
      color: red!important;
    }


  
    .container {
      width: 90vw;
      padding: 1.5em 1em;
    }
  
    .container .flag-img {
      width: 60%;
    }
  
    .container h2 {
      font-size: 1.5em;
    }
  
    .container h4 {
      font-size: 0.8em;
    }
  
    .container h3 {
      font-size: 0.8em;
    }
  
    .search-wrapper {
      grid-template-columns: 7fr 3fr;
      gap: 0.5em;
    }
  
    .search-wrapper button {
      font-size: 0.8em;
      padding: 0.7em 0;
      border-radius: 1em;
    }
  
    .search-wrapper input {
      font-size: 0.8em;
      padding: 0 0.5em;
      border-bottom: 1px solid #3d64e6;
    }
  }
  
  




  /* navbar css started------------------*/
  /* Navbar styles */
.navbar {
    background-color: #13171c!important; 
    padding: 0.5rem 0.8rem;
    font-size: 17px;
    font-weight: 600;
    height: 7vh!important;


  }
  .navbar-toggler-icon {
    color: rgb(255, 255, 255)!important;
  }

  
  .navbar-nav {
    margin-left: auto; 


  }
  
  .navbar-nav li {
    margin-right: 1rem;
    color: #ffffff!important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 600;
  }
  
  .nav-link {
    color: #eeebf6; 
    font-weight: bold;
    text-transform: uppercase; 
  }
  
  .nav-link.active,
  .nav-link:hover {
    color: #5898d7; 
  }

  @media only screen and (max-width: 768px) {
    .nav-link {
      color: #fce9e9; 
      background-color: rgb(53, 3, 123);
      margin: 0!important;
      padding: 15px!important;
      border-radius: 9px!important;
      margin-top: 5px!important;
      margin-left: 16px!important;
    }
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #85b7f3!important; 
      padding: 0.5rem 0.8rem;
      font-size: 17px;
      font-weight: 600;
      height: 8vh!important;
    }
  





  /* ended navbar */

.footer-div{
  background-color: #13171c;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: 600;
  margin-top: 93vh;
  }

